<div class="container-fluid mt-5 pt-3">


    <div class="container">

        <div class="row">
            <div class="col-lg-8">
                <div class="section-title mb-0">
                    <h4 class="m-0 text-uppercase font-weight-bold">All About the Alumni</h4>
                </div>
                <div class="bg-white border border-top-0 p-4 mb-3">
                    <div class="mb-4">
                        <h6 class="text-uppercase font-weight-bold">who we are</h6>
                        <p class="mb-4">Lakipia Air Base Primary School Alumni Association brings together members
                            of the Laikipia
                            Air Base (LAB) fraternity who were brought up in LAB and went through LAB schools.
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">

                                <h6 class="font-weight-bold mb-0">MOTTO</h6>
                            </div>
                            <p class="m-0">Stronger Together </p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">

                                <h6 class="font-weight-bold mb-0">Mission</h6>
                            </div>
                            <p class="m-0">We endeavour to enrich lifelong relationships among the alumni body and
                                the schools.</p>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center mb-2">

                                <h6 class="font-weight-bold mb-0">Vision</h6>
                            </div>
                            <p class="m-0">To be an alumni association that fosters a sense of togetherness while
                                instilling in its members
                                a lifelong commitment to our alma mater and the community.</p>
                        </div>
                    </div>
                    <h6 class="text-uppercase font-weight-bold mb-3">Value</h6>
                   
                    <ul> <b>• Tradition:</b> We believe in Laikipia Air Base schools. We cherish the rich and
                        vibrant
                        history and work to enhance its reputation</ul>
                    <ul> <b>• Integrity :</b> We keep our promises. Our reputation rests on honesty, fairness and
                        treating everyone with respect.</ul>
                    <ul><b>• Service </b>: We go the extra mile. We provide the highest levels of service to our
                        members, growing Alumni community and the schools.</ul>
                    <ul> <b>• Quality: </b> We expect to be judged by standards of excellence in everything we do.
                    </ul>
                    <ul>
                        <b>• Diversity:</b> We value diversity. We embrace inclusion in everything we do.
                    </ul>


                 

                    <div class="mb-3">
                        <div class="d-flex align-items-center mb-2">

                            <h6 class="font-weight-bold mb-0">Vision</h6>
                        </div>
                     
                        <ul> <b> </b> • We establish and consolidate a network of contacts through which Laikipia
                            Air Base
                            alumni can always keep in touch with each other. We provide a platform for Alumni
                            across different generations to network and build meaningful relationships.</ul>
                        <ul> <b> </b> • We provide a platform for members of the Alumni association to share
                            knowledge and
                            talents for the furtherance of fellowship.</ul>
                        <ul> <b> </b> • We provide a platform for members of the association to generate wealth by
                            organizing
                            seminars on investment and business opportunities. </ul>
                        <ul> <b> </b> We provide a platform for members of the association to market their
                            businesses and
                            share job opportunities.</ul>
                        <ul> <b> </b> • We undertake various CSR activities that add value to the community and
                            generate
                            positive impact.</ul>
                        <ul> <b> </b> • We provide material and financial support and other related aid to members
                            of the
                            association as guided by our group Constitution.</ul>


                       
                        <div class="d-flex align-items-center mb-2">

                            <h6 class="font-weight-bold mb-0">MOTTO</h6>
                        </div>
                      
                        <ul><b>Chairperson:</b> Hawkins Musili</ul>
                        <ul><b> Vice Chairperson: </b> Sally Sabala</ul>
                        <ul><b> Secretary:</b> celestine Mutai</ul>
                        <ul><b>Vice Secretary: </b>Rahma Ali</ul>
                        <ul><b> Organizing Secretary:</b>Collins Wakapisi</ul>
                        <ul><b> Treasurer:</b>Caroline Ngoya</ul>
                        <ul><b> vice Treasurer:</b> Diana Ndunge</ul>
                        <ul><b> Committee Members:</b>
                            <ul>Hamisi Amani</ul>
                            <ul>Edwin Nyabera</ul>
                            <ul>Charles Kioko</ul>
                        </ul>
                        <ul><b> Co-opted Members:</b>
                            <ul> Olivia Kagwiria</ul>
                            <ul> Shadrack Musau</ul>
                            <ul> Kennedy Kigen</ul>
                        </ul>
                        
                    </div>
                </div>
              
                <!-- Comment Form End -->
            </div>

            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="https://web.facebook.com/profile.php?id=100070606953648" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fa fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON FACEBOOK</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fa fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON TWITTER</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <i class="fa fa-linkedin text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">LETS CONNECT ON LINKEDIN</span>
                        </a>
                        <a href="https://www.instagram.com/l.a.balumni/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fa fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON INSTAGRAM</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fa fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON YOUTUBE</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fa fa-vimeo-v text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON VIMEO</span>
                        </a>
                    </div>
                </div>

                <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">lab</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
