<div class="container-fluid mt-5 pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    <img class="img-fluid w-100" src="" style="object-fit: cover;">
                    <div class="bg-white border border-top-0 p-4">
                        <div class="mb-3">
                            <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                href="">Events</a>
                            <a class="text-body" href="">2022</a>
                        </div>

                        <h3 class="text-uppercase font-weight-bold mb-3">A GET TOGETHER HELD ON OCTOBER 2022</h3>
                        <img class="img-fluid w-50 float-left mr-4 mb-2" src="assets/img/get together 2022.webp ">
                        <p>The lab alumni organized for a get together which had many activities planned.
                            The main activity of the event was to handover from the old officials to the newly
                            elected officials.
                            the other activity done was to create bond among the members by indulging in team
                            building ativities
                            whuch was a great success.The members had fun on the event and the event was a success.

                        </p>
                        <h5 class="text-uppercase font-weight-bold mb-3"> <br> Visit to Laikipia Airbase </h5>
                        <img class="img-fluid w-50 float-right mr-4 mb-2" src="assets/img/lab/IMG-20211112-WA0061.jpg">
                        <p>The alumni is also organizing for a for a visit to the laikipia Airbase primary School,
                            laikipia Airbase Secondary school
                            and The laikipia Airbase Nursery School which will be held before the end of
                            the year.During the trip the
                            laikipia Airbase Primary officials and other members will carrry out tree planting
                            activities,meeting with the base leadership
                            to discuss about planned integration of the alumni with laikipia Airbase.The other
                            activity will be a mentorship programme and
                            donation and distribution of learning ..Finally the alumni members shall
                            interact with the students and the event will end.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                        <div class="d-flex align-items-center">
                            <!-- <img class="rounded-circle mr-2" src="" width="25" height="25" alt=""> -->
                            <span></span>
                        </div>
                        <div class="d-flex align-items-center">
                            <!-- <span class="ml-3"><i class="far fa-eye mr-2"></i></span>
                            <span class="ml-3"><i class="far fa-comment mr-2"></i></span> -->
                        </div>
                    </div>
                </div>
                <!-- News Detail End -->
            </div>

            <div class="col-lg-4">
                <!-- Social Follow Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Follow Us</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <a href="https://web.facebook.com/profile.php?id=100070606953648" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #39569E;">
                            <i class="fa fa-facebook-f text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON FACEBOOK</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #52AAF4;">
                            <i class="fa fa-twitter text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON TWITTER</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #0185AE;">
                            <i class="fa fa-linkedin text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">LETS CONNECT ON LINKEDIN</span>
                        </a>
                        <a href="https://www.instagram.com/l.a.balumni/" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #C8359D;">
                            <i class="fa fa-instagram text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON INSTAGRAM</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none mb-3" style="background: #DC472E;">
                            <i class="fa fa-youtube text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON YOUTUBE</span>
                        </a>
                        <a href="" class="d-block w-100 text-white text-decoration-none" style="background: #055570;">
                            <i class="fa fa-vimeo text-center py-4 mr-3" style="width: 65px; background: rgba(0, 0, 0, .2);"></i>
                            <span class="font-weight-medium">FOLLOW US ON VIMEO</span>
                        </a>
                    </div>
                </div>
              
 <!-- Tags Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-3">
                        <div class="d-flex flex-wrap m-n1">
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">lab</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Health</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Education</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Science</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
                            <a href="" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
                        </div>
                    </div>
                </div>
                <!-- Tags End -->
            </div>
        </div>
    </div>
</div>
